.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Bioseguridad:             
            | Son las prácticas que tienen por objeto eliminar o minimizar el factor de riesgo que pueda llegar a afectar la salud o la vida de las personas, o que pueda contaminar el ambiente (Resolución 2263, 2004, art. 2).
        hr
        p
            strong.mr-2 Indicadores de gestión:             
            | Es una forma de medir el rendimiento o comportamiento de aquellos aspectos que se consideran relevantes para controlar la productividad. Ejemplo de indicadores: eficacia en la entrega de pedidos y tiempo de ciclo de producción.
        hr
        p
            strong.mr-2 Inspección:             
            | Es el proceso 	de medir, examinar, probar o comparar la unidad del producto de acuerdo con los requerimientos y normatividad establecida.
        hr
        p
            strong.mr-2 Insumo:             
            | Bien de cualquier clase empleado en la producción de otros bienes (coursehero, s.f.).
        hr
        p
            strong.mr-2 Patrón base:             
            | Se construye mediante la aplicación del trazado de líneas para crear un plano bidimensional que, una vez ensamblado mediante costuras, formará un plano tridimensional (una prenda).
        hr        
        p
            strong.mr-2 Plan:             
            | Es un diagrama o lista de pasos, con detalles de tiempo y recursos, utilizados para lograr un objetivo de hacer algo. 
        hr
        p
            strong.mr-2 Plan de inspección:             
            | Establece el procedimiento para llevar a cabo la inspección: acciones a realizar, tiempos, criterios a verificar, responsables en cada una de las áreas a tratar, entre otros. 
        hr
        p
            strong.mr-2 Productividad:             
            | Relación entre la cantidad de productos obtenida mediante un sistema productivo y los recursos empleados en su producción (significados, s.f.).
        hr
        p
            strong.mr-2 Protocolo:             
            | Conjunto de técnicas basadas en normas y medidas preventivas, que conforman un estándar que permite examinar los procesos, compararlos con modelos deseables y necesarios, para la correcta organización y desarrollo de un procedimiento, ocupación u oficio (Secretaría Distrital de Salud, 2020).