.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody

                tr
                    td Salazar, L. B. (2019, 18 de junio). Estudio de trabajo.  Ingeniería de métodos. 
                    td Página de consulta para productividad.
                    td 
                        a(href="https://www.ingenieriaindustrialonline.com/ingenieria-de-metodos/estudio-del-trabajo/", target="_blank") <span class="download" aria-hidden="true"></span> Ver sitio             