.container#page-introduccion

    .header-ecored
        h1 2. Desarrollo de patrones

    .jumbotron.bg-white 
      .jumbotron
        .row
          .col-12
            p El patronaje es la técnica mediante la cual se obtienen las plantillas (patrones o moldes) con las que se cortan las telas para posteriormente ensamblar y obtener una prenda (Gutiérrez et al., 2011). Permite la elaboración de las piezas de una prenda de vestir. 
            
            p.mb-0 En el desarrollo de un molde es necesario seguir las instrucciones adecuadas que han sido estandarizadas según necesidades de la población. El patrón se puede realizar de forma manual o sistematizada, facilitando así la industrialización. 
      .row.mt-5
        .col-12.tex
          p.text-center A continuación, encontrará el instructivo para la elaboración de cada producto. 


      .row.justify-content-center.align-items-center
        .col-auto         
          img(src="assets/images/pages/tema2/img_01.svg", alt="" style="width: 200px;").img-fluid   
        .col-12.col-md-7     
          a(href="media/documentos/anexos/mf2/Instructivo_patron_cofia.pdf" target="_blank")
            .jumbotron.mb-0 
              .row.justify-content-center.align-items-center
                .col-auto
                  img.m-0(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                .col
                  .media-link-title
                    p #[strong Gorro - cofia.]</br> Descargar instructivo para la elaboración del patrón de cofia.

      .row.justify-content-center.align-items-center
        .col-auto         
          img(src="assets/images/pages/tema2/img_02.svg", alt="" style="width: 200px;").img-fluid   
        .col-12.col-md-7     
          a(href="media/documentos/anexos/mf2/Instructivo_patron_polaina_baja.pdf" target="_blank")
            .jumbotron.mb-0 
              .row.justify-content-center.align-items-center
                .col-auto
                  img.m-0(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                .col
                  .media-link-title
                    p #[strong Polainas bajas.]</br> Descargar instructivo para la elaboración del patrón polaina baja.

      .row.justify-content-center.align-items-center
        .col-auto         
          img(src="assets/images/pages/tema2/img_03.svg", alt="" style="width: 200px;").img-fluid   
        .col-12.col-md-7     
          a(href="media/documentos/anexos/mf2/Instructivo_patron_polaina_alta.pdf" target="_blank")
            .jumbotron.mb-0  
              .row.justify-content-center.align-items-center
                .col-auto
                  img.m-0(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                .col
                  .media-link-title
                    p #[strong Polainas altas.]</br> Descargar instructivo para la elaboración del patrón de polaina alta.

      .row.justify-content-center.align-items-center
        .col-auto         
          img(src="assets/images/pages/tema2/img_04.svg", alt="" style="width: 200px;").img-fluid   
        .col-12.col-md-7     
          a(href="media/documentos/anexos/mf2/Instructivo_patron_tapabocas.pdf" target="_blank")
            .jumbotron.mb-0  
              .row.justify-content-center.align-items-center
                .col-auto
                  img.m-0(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                .col
                  .media-link-title
                    p #[strong Tapabocas.]</br> Descargar instructivo para la elaboración del patrón de tapabocas.

      .jumbotron.mt-5.mb-0
        .row.justify-content-center.align-items-center
          .col-12.col-md-10.col-lg-7.d-flex.justify-content-center.my-5
            a(href="https://repositorio.sena.edu.co/handle/11404/4725?mode=full" target="_blank")
              img(src="assets/images/pages/tema2/info_01.svg", alt="").img-fluid    
              
      


      
      